<section class="bg-indigo-800">
    <h1 class="lg:text-center mt-2 px-2 pt-4 text-4xl leading-8 font-extrabold tracking-tight text-white	 sm:text-6xl">
        Our
        Programmes</h1>
    <div class="lg:text-center pt-4">
        <!-- <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Transactions</h2> -->
        <p class="py-12 px-4 sm:px-6 max-w-4xl text-2xl lg:mx-auto relative text-white md:flex-grow">Department of
            Information
            Technology offers B. Tech.,
            M.
            Tech. and Ph. D. programmes in Information Technology.The M.
            Tech. and Ph.D. are post-graduate programmes, the B. Tech. is the undergraduate programme. Details regarding
            all these
            programmes can be found in the brochures here. In addition to the above, some department-specific
            information is given
            below. Please follow the appropriate links to find what you need.
        </p>
    </div>
    <div class="max-w-7xl mx-auto md:grid md:grid-cols-1 md:px-6 lg:px-8">
        <div
            class="py-12 px-4 sm:px-6 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 md:border-r md:border-indigo-900 lg:pr-16">
            <div class="md:flex-shrink-0">
                <!-- <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-indigo-300.svg" alt="Tuple"> -->
                <h1 class="text-slate-300 text-3xl font-extrabold">UNDERGRADUATE PROGRAMME(B.TECH)
                </h1>
            </div>
            <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
                <div class="relative text-lg font-medium text-white md:flex-grow">
                    <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-indigo-600"
                        fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                        <path
                            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                    </svg>
                    <p class="relative text-xl">The Department of Information Technology at NITJ is renowned for
                        imparting state
                        of the art undergraduate education and
                        preparing its students for real world challenges. We attract the brightest students from the
                        country who score very high
                        ranks in the IIT-JEE, arguably the toughest entrance exam for any academic institution. Our
                        alumni have done extremely
                        well and the list of their achievements is too big to list here, which include managing top
                        companies, designing
                        revolutionary products, and contributing to fundamental research.
                    </p>
                </div>
                <!-- <footer class="mt-8">
                    <div class="flex items-start">
                        <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
                            <img class="h-12 w-12 rounded-full"
                                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="ml-4">
                            <div class="text-base font-medium text-white">Judith Black</div>
                            <div class="text-base font-medium text-indigo-200">CEO, Tuple</div>
                        </div>
                    </div>
                </footer> -->
            </blockquote>
        </div>
        <div
            class="py-12 px-4 sm:px-6 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 md:border-r md:border-indigo-900 lg:pr-16">
            <div class="md:flex-shrink-0">
                <!-- <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-300.svg"
                    alt="Workcation"> -->
                <h1 class="text-slate-300 text-3xl font-extrabold">POSTGRADUATE PROGRAMME(M.TECH)
                </h1>
            </div>
            <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
                <div class="relative text-lg font-medium text-white md:flex-grow">
                    <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-indigo-600"
                        fill="currentColor" viewBox="0 0 32 32">
                        <path
                            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                    </svg>
                    <p class="relative text-xl">The standard M. Tech. is a two year programme, where the first two
                        semesters
                        (July to May) are spent doing courses. A
                        one-year project commences in May (end of the 2nd semester) and lasts for almost fourteen months
                        (till about July next
                        year). The project typically has a strong research component.
                    </p>
                </div>
                <!-- <footer class="mt-8">
                    <div class="flex items-start">
                        <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
                            <img class="h-12 w-12 rounded-full"
                                src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="ml-4">
                            <div class="text-base font-medium text-white">Joseph Rodriguez</div>
                            <div class="text-base font-medium text-indigo-200">CEO, Workcation</div>
                        </div>
                    </div>
                </footer> -->
            </blockquote>
        </div>

    </div>
    <div class="max-w-7xl mx-auto md:grid md:grid-cols-1 md:px-6 lg:px-8">
        <div
            class="py-12 px-4 sm:px-6 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 md:border-r md:border-indigo-900 lg:pr-16">
            <div class="md:flex-shrink-0">
                <!-- <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-indigo-300.svg" alt="Tuple"> -->
                <h1 class="text-slate-300 text-3xl font-extrabold">DOCTRATE PROGRAMME(PH. D)
                </h1>
            </div>
            <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
                <div class="relative text-lg font-medium text-white md:flex-grow">
                    <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-indigo-600"
                        fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                        <path
                            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                    </svg>
                    <p class="relative text-xl">The Ph.D. programme is a post-graduate programme focussed on original
                        research,
                        that can lead to publications in premier
                        conferences or journals. Students are required to do some courses in the first few semesters
                        (course work required can
                        vary based on student background), but soon move on completely to research. The courses are the
                        same as the the set of
                        electives offered in the M. Tech programme (see below). The time required to complete a Ph.D.
                        can vary - however a
                        typical timeframe is four to five years.
                    </p>
                </div>
                <!-- <footer class="mt-8">
                    <div class="flex items-start">
                        <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
                            <img class="h-12 w-12 rounded-full"
                                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="ml-4">
                            <div class="text-base font-medium text-white">Judith Black</div>
                            <div class="text-base font-medium text-indigo-200">CEO, Tuple</div>
                        </div>
                    </div>
                </footer> -->
            </blockquote>
        </div>
        <!-- <div class="py-12  border-t-2 border-indigo-900  md:py-16 md:pr-0  md:border-t-0  ">
            <div class="md:flex-shrink-0">
                <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-300.svg"
                    alt="Workcation">
            </div>
            <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
                <div class="relative text-lg font-medium text-white md:flex-grow">
                    <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-indigo-600"
                        fill="currentColor" viewBox="0 0 32 32">
                        <path
                            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                    </svg>
                    <p class="relative">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas
                        culpa
                        sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis. Nemo expedita
                        voluptas culpa
                        sapiente alias molestiae.</p>
                </div>
                <footer class="mt-8">
                    <div class="flex items-start">
                        <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
                            <img class="h-12 w-12 rounded-full"
                                src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="ml-4">
                            <div class="text-base font-medium text-white">Joseph Rodriguez</div>
                            <div class="text-base font-medium text-indigo-200">CEO, Workcation</div>
                        </div>
                    </div>
                </footer>
            </blockquote>
        </div> -->

    </div>
</section>