<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <title>Document</title>
</head>

<body> -->
<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<!-- Header -->
<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

{% extends "base.html" %}
{% load static %}
{% block content %}

    <div>
        <div class="max-w-7xl mx-auto py-8 px-4 sm:py-4 sm:px-6 lg:px-8">
            <div class="text-center">
                <h2 class="text-7xl font-extrabold text-gray-800 sm:tracking-tight">Faculty</h2>
            </div>
        </div>

        <!-- Header ends -->
        <!-- Faculty -->
        <div class="bg-white">
            <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-12">
                <div class="space-y-12">
                    <!-- <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Faculty</h2> -->

                    <ul role="list"
                        class="space-y-12 grid grid-cols-1 md:grid-cols-2 items-start  gap-x-8 gap-y-12 space-y-0">
                        {% for i in faculty %}
                            {% if i.person_type == 'faculty' %}
                                <li>
                                    <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6  sm:space-y-0 lg:gap-8">
                                        <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                            <a href="{% url 'profile' i.id %}">
                                                <img class="object-cover mx-auto shadow-lg rounded-lg" src="{{ i.image.url }}"
                                                    alt="{{ i.name }}">
                                            </a>
                                        </div>
                                        <div class="sm:col-span-2">
                                            <div class="space-y-4 text-center md:text-left">
                                                <div class="text-lg leading-6 font-medium space-y-1">
                                                    <a href="{% url 'profile' i.id %}">
                                                        <h3>{{ i.name }}</h3>
                                                    </a>
                                                    <p class="text-indigo-600">{{ i.designation }}</p>
                                                </div>
                                                <div class="text-lg">
                                                    <p class="text-gray-500">{{i.email}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}



                        <!-- More people... -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- Faculty ends -->

        <!-- Other Staff -->
        <!-- This example requires Tailwind CSS v2.0+ -->

        <div class="bg-white">
            <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
                <div class="space-y-12">
                    <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
                        <h2 class="text-7xl font-extrabold text-gray-800 sm:tracking-tight">Technical Staff</h2>
                        <!-- <p class="text-xl text-gray-500">Ornare sagittis, suspendisse in hendrerit quis. Sed dui
                        aliquet lectus sit
                        pretium egestas vel mattis neque.</p> -->
                    </div>
                    <ul role="list"
                        class="mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-16 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl">

                        {% for i in faculty %}
                            {% if i.person_type == "support" %}
                                <li>
                                    <div class="space-y-6">
                                        <img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
                                            src="{{ i.image.url }}"
                                            alt="">
                                        <div class="space-y-2">
                                            <div class="text-lg leading-6 font-medium space-y-1">
                                                <h3>{{ i.name }}</h3>
                                                <p class="text-indigo-600">{{ i.designation }}</p>
                                                <p class="text-gray-600">{{ i.phone }}</p>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <!-- More people... -->
                    </ul>
                </div>
            </div>
        </div>


{% endblock content %}
<!-- Other Staff ends -->

<!-- </body>

</html> -->
