appdirs==1.4.4
asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
cfgv==3.3.1
distlib==0.3.4
Django==4.0.2
django-phonenumber-field==6.1.0
django-phonenumbers==1.0.1
django-tinymce==3.4.0
django-widget-tweaks==1.4.12
filelock==3.4.2
identify==2.4.3
importlib-metadata==4.10.1
Jinja2==3.0.3
MarkupSafe==2.0.1
nodeenv==1.6.0
pep517==0.6.0
phonenumbers==8.12.46
Pillow==9.1.0
platformdirs==2.4.1
pre-commit==2.16.0
pytoml==0.1.21
PyYAML==5.4.1
six==1.16.0
slippers==0.3.1
sqlparse==0.4.2
toml==0.10.2
virtualenv==20.13.0
zipp==3.7.0
